body {
  background-color: #f2f4f7;
}

.container {
  margin: auto;
  width: 75%;
  padding: 15px;
}

a {
  text-decoration: none;
  color: #0f94fd;
  font-weight: bold;
}

input[type='text'], input[type='number'] {
  width: 300px;
  height: 25px;
  font-size: 14px;
  padding: 5px 15px;
  outline: none;
  border: none;
  box-shadow: 0px 2px 8px #dedede;
}

button {
  padding: 10px 24px;
  background-color: #0f94fd;
  border: none;
  color: white;
  font-size: 12px;
  font-weight: 100;
  cursor: pointer;
  box-shadow: 0px 2px 8px #afafaf;
}

.table {
  box-shadow: 0px 2px 8px #dedede;
  background-color: white;
  font-size: 14px;
  color: #56564f;
}
.table .row {
  border-bottom: 1px solid #ececec;
  padding: 15px;
}

.right{
  float: right;
}

/**
 * Tracks
 */
.tracks {
  margin-top: 15px;
}

.time {
  color: #0f94fd;
  border: 1px solid #0f94fd;
  padding: 5px;
  border-radius: 10px;
  font-size: 12px;
}

.track-number {
  border-bottom: 1px solid #eee;
  margin: 5px;
  padding: 10px;
  color: gray;
}