<div>
  <div>
    <form ng-submit="eventsController.create()">
      <div>
        <div>
          <input type="text" id="name" placeholder="Name" ng-model="eventsController.event.name">
          <button type="submit" ng-disabled="!eventsController.event.name">Create</button>
        </div>
      </div>
    </form>
  </div>
  <br/>
  <h3> Events </h3>
  <div class="table">
    <div class="row" 
        ng-repeat="event in eventsController.events">
      <a href="#/{{event.id}}/talks">{{event.name}}</a>
    </div>
  </div>
</div>