<div>
  <div>
    <button class="right"
            ng-if="talksController.talks.length > 0"
            ng-click="talksController.getallotedTracks()">Allot Tracks</button>
    <form ng-submit="talksController.create()">
      <div>
        <div>
          <input type="text" id="name" placeholder="Name" ng-model="talksController.track.name">
          <input type="number"
                 id="duration"
                 placeholder="Duration"
                 ng-change="talksController.onDurationChanged()"
                 ng-model="talksController.track.duration">
          <input type="checkbox"
                 id="lightening"
                 value="true"
                 placeholder="Lightening"
                 title="Lightening"
                 ng-change="talksController.lightening ? talksController.track.duration = 5 : ''"
                 ng-model="talksController.lightening">
          <button type="submit" ng-disabled="!talksController.track.name || !talksController.track.duration">Add</button>
        </div>
      </div>
    </form>
  </div>
  <h4 ng-if="talksController.allotedTalks">Alloted Tracks</h4>

  <div class="table talks" ng-repeat="tracks in talksController.allotedTracks">
    <h3 class="track-number">Track {{$index + 1}}</h3>
    <div class="row" 
         ng-repeat="track in tracks.morning_talks">
      <b class="time">{{track.start_time}}</b> {{track.name}} 
      <span class="right">{{track.duration}}</span>
    </div>
    <div class="row" 
         ng-repeat="track in tracks.evening_talks">
      <b class="time">{{track.start_time}}</b> {{track.name}} 
      <span class="right">{{track.duration}}</span>
    </div>
  </div>

  <h4>Talks</h4>
  <div class="table talks">
    <div class="row">
      <b>NAME</b>
      <span class="right"><b>DURATION</b></span>
    </div>
    <div class="row" 
         ng-repeat="track in talksController.talks">
      {{track.name}}
      <span class="right">{{track.duration}}</span>
    </div>
  </div>
</div>